# The distribution of the top 10 total gross income moives in history

Next, let's list the top 10 total gross income movies in the Disney filmmaking history. To do this, I will import and use the script I created with a valuesorting function that takes in a dataframe and sorts values by a certain column and then provides the relevant information of specific column. Here, this function will give us the top10 movies evaluated by the total gross income.

In [1]:
# Lets import all the required libraries needed for this analysis

import pandas as pd
import altair as alt
# import all the required files
total_gross = pd.read_csv("data/disney_movies_total_gross.csv")
# using the code replace to erase the '$'and then change the datatype to int.
total_gross['inflation_adjusted_gross']=total_gross['inflation_adjusted_gross'].replace({'\$':''},regex=True)
total_gross['inflation_adjusted_gross']=total_gross['inflation_adjusted_gross'].replace({'\,':''},regex=True).astype('int64')
# split the release date and only year variable will be considered
dates = (total_gross['release_date'].str.split(',', expand=True).rename(columns = {0:'Month_day',1:'Year'}))
total_gross_year =(total_gross.assign(year=dates['Year'].astype('int')))

In [2]:
# import the valuesorting script
import valuesorting_script as ps

# run it on the data
total_gross_top10_movie = ps.top10_value(total_gross_year,'movie_title','inflation_adjusted_gross')

total_gross_top10_movie

                            movie_title  inflation_adjusted_gross
0       Snow White and the Seven Dwarfs                5228953251
1                             Pinocchio                2188229052
2                              Fantasia                2187090808
3                        101 Dalmatians                1362870985
4                    Lady and the Tramp                1236035515
5                     Song of the South                1078510579
6  Star Wars Ep. VII: The Force Awakens                 936662225
7                            Cinderella                 920608730
8                       The Jungle Book                 789612346
9                         The Lion King                 761640898

Next, let's find out the production year of these top 10 movies and this information may provide us a clue for the change of popularity of Disney movies with time. Again, the valuesorting function will be applied.

In [3]:
# import the valuesorting script
import valuesorting_script as ps

# run it on the data
total_gross_top10_year = ps.top10_value(total_gross_year,'year','inflation_adjusted_gross')
total_gross_top10_year

   year  inflation_adjusted_gross
0  1937                5228953251
1  1940                2188229052
2  1940                2187090808
3  1961                1362870985
4  1955                1236035515
5  1946                1078510579
6  2015                 936662225
7  1950                 920608730
8  1967                 789612346
9  1994                 761640898

In [4]:
# Use altair to generate a bar plot
total_gross_top10_year_plot = (
    alt.Chart(total_gross_top10_year, width=500, height=300)
    .mark_bar()
    .encode(
        x=alt.X("year:O",sort='-y', title="Year"),
        y=alt.Y("inflation_adjusted_gross:Q", title="Inflation Adjusted Total Gross"),
    )
    .properties(title="The release year of top10 movies in gross income")
)
total_gross_top10_year_plot

alt.Chart(...)

It can be seen from the chart, all the top3 movies belong to The Golden Age. This is due to the people's strongest love for Disney movies at that time which supposedly is the reason for the name of The Golden Age. The popularity of Disney films show a decreasing trend till 1994, and movie in 2015 shows an increase which is a sign of recovery of Disney movies. These data correlates with the data of total income in 7 different stages of Disney filmmaking very well.